.cardContainer{
    width: 97.5%;
    height: 40px;
  
    border-radius: 5px;
    padding: 1.5rem 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--gray);
    background-color: var(--bg-light);
    border: 0;   
}

.divCard {
    display: flex;
    justify-content: center;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

