html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 1rem;
}

:root {
  /* Light mode */
  --bg-light: #f6f8fc;
  --white: #ffffff;
  --red: #e83f5b;
  --green: #4cd62b;
  --orange: #f5665a;
  --blue: #5965e0;
  --blue-dark: #4953b8;
  --blue-light: #2aa9e0;
  --purple-light: #9e4ef5;
  --purple-dark: #4b2ae9;
  --gray: #6c757d;
  --bg-lightButtonGradient: linear-gradient(135deg, var(--purple-dark) 0%, var(--purple-light) 100%);

  /* Dark mode */

}