@media (min-width: 576px) {
    .asd {
        display: none;
    }
    .h-sm-100 {
        height: 100%;
    }
}

.bgColor{
    background-color: white;
}

.bgSelected {
    background: -webkit-linear-gradient(#4b2ae9, #9e4ef5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.itemBorder {
    border-radius: 1px;
    border-color: #f6f8fc;
    border-width: 2px;
    border-style: solid;
}

.shadowBar{
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.075);
    clip-path: inset(-60px -60px -60px 0px)
}


